<!DOCTYPE html>
<html data-theme = "dark">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset = "utf-8">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        {% block css %}
        {% endblock %}
        </style>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>

    <body>
        <div class = "sticky top-0 z-50 tabs tabs-border tabs-lg mb-2">
            <a href = '{{url_for("home")}}' class = "tab font-bold tab-active text-primary">Home</a>
            <a href = '{{ url_for("explore") }}' class = "tab text-neutral-content font-semibold">Events</a>
            {% if current_user %}
                <a href = '{{url_for("profile", user_id = current_user.id)}}' class = "tab text-neutral-content font-semibold">Profile</a>
                <!-- <a href='{{ url_for("teams") }}'>Teams</a>
                <a href='{{ url_for("chat_home") }}'>Chats</a> -->
                <a href = '{{url_for("logout")}}' class = "tab text-neutral-content font-semibold">Log Out</a>
            {% else %}
                <a href = '{{url_for("login")}}' class = "tab text-neutral-content font-semibold">Login</a>
                <a href = '{{url_for("register")}}' class = "tab text-neutral-content font-semibold">Sign Up</a>
            {% endif %}
        </div>

        {% block content %}
        {%  endblock %}
    </body>
</html>