<!DOCTYPE html>
<html>
<head>
    <title> Chat </title>
    <!-- <meta http-equiv="refresh" content="30"> -->
     <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <h2> SIMPLE CHAT </h2>
    <div style="margin-bottom: 20px; padding: 10px; background-color: #f0f0f0; border-radius: 5px;">
        <strong>User {{ current_user_id }}</strong> 
        <!-- <span style="margin-left: 20px;">
            <a href="/?user_id=1">User 1</a> | 
            <a href="/?user_id=2">User 2</a>
        </span> -->
    </div>
    
<!-- <div style="border: 1px solid #ccc; padding: 10px; height: 300px; overflow-y: scroll;"> -->
    <!-- {% for msg in messages %}
    <div style="margin-bottom: 8px; border-bottom: 1px dashed #eee; {% if msg.sender_id == current_user_id %} text-align: right; {% endif %}">
        <span style="color: #888; font-size: 0.8em;">
            {{ msg.timestamp.strftime('%Y-%m-%d %H:%M') }}
        </span>
        <br>
        <span style="font-weight: bold;">
            {% if msg.sender_id == current_user_id %}
                You:
            {% else %}
                User {{ msg.sender_id }}:
            {% endif %}
        </span> {{ msg.message }}
    </div>
    {% endfor %} -->
<!-- </div> -->
<div id="chatbox" style="border: 1px solid #ccc; padding: 15px; height: 300px; overflow-y: scroll; background-color: #f9f9f9;" hx-get="/message?user_id={{ current_user_id }}" hx-trigger="load, every 3s" hx-target="#chatbox" hx-swap="innerHTML" hx-on::after-request="scrollToBottom()">
    {% include 'message.html' %}
</div>
<script>
    // 自动滚动到底部
    function scrollToBottom() {
        var chatbox = document.getElementById("chatbox");
        if (chatbox) {
            chatbox.scrollTop = chatbox.scrollHeight;
        }
    }
    window.onload = scrollToBottom; //页面加载时滚动到底部
    document.addEventListener("htmx:afterSwap", function(evt) {
        //only chatbox f5 will scroll to bottom
        if (evt.target.id === "chatbox") {
            scrollToBottom();
        }
    });
</script>
<form hx-post="/send_message" hx-target="#chatbox" hx-swap="innerHTML" hx-on:htmx:after-request="this.reset(); scrollToBottom();">
        <input type = "text" name = "message" placeholder = "Type message" required>
        <input type = "hidden" name = "user_id" value = "{{ current_user_id }}">
        <button type = "submit"> Send </button>

    <!-- <form method ="POST" action="/send_message">
        <input type = "text" name = "message" placeholder = "Type message" required>
        <input type = "hidden" name = "user_id" value = "{{ current_user_id }}">
        <button type = "submit"> Send </button>
    </form> -->

    <br>
    <a href = "/clear"> Clear Chat </a> |
    <a href = "/chat/history"> Chat History </a>

</body>
</html>