<div class="chat mb-4 opacity-60 {% if is_me %}chat-end{% else %}chat-start{% endif %}">
    <div class="chat-image avatar">
        <div class="w-10 rounded-full border border-base-300/50 bg-base-100 shadow-sm flex items-center justify-center"></div>
    </div>
    <div class="chat-header text-xs opacity-50 mb-1">
        You
    </div>
    <div class="chat-bubble bg-base-200 text-base-content/50 border border-dashed border-base-300 italic max-w-3xl">
        <div class="flex items-center justify-between gap-4">
            <span>You deleted this message.</span>
            <span class="text-xs font-semibold not-italic opacity-80 text-secondary-content">{{ now_str }}</span>
        </div>
    </div>
</div>