{% extends "base.html" %}

{% block css %}
    <link rel = "stylesheet" href = '{{url_for("static", filename = "css/events.css")}}'>
{% endblock %}

{% block content %}
    <div id = "content-container">
        <form method = "GET">
            <input name = "name" id = "filter-by-name" placeholder = "Search by event name..">
            <select id = "filter-by-status" name = "status">
                {% set filter_statuses = ["open", "closed", "ongoing", "cancelled", "all"] %}
                {% for filter_status in filter_statuses %}
                    <option value = "{{ filter_status }}" {{ "selected" if filter_status == selected_status }}>
                        {{ filter_status.capitalize() }}
                    </option>
                {% endfor %}
            </select>
            <input type = "submit" value = "search">
        </form>
        <div id="events">
            {% if events %}
                <div id = "filter-container">
                </div>
                <ul class="event-list">
                    {% for event in events %}
                        <li>
                            <div class="event-container">
                                <h3 class="event-title"><a href = "{{url_for('event_detail', event_id = event.id)}}">{{ event.title }}</a></h3>
                                {% if event.status == "open" %}
                                    <p class="event-date-open">
                                        {{ event.start_time.strftime('%Y-%m-%d') }}
                                        <span>{{ (event.start_time - current_time).days }} days remaining</span>
                                    </p>
                                {% elif event.status == "ongoing" %}
                                    <p class="event-date-ongoing">
                                        {{ event.start_time.strftime('%Y-%m-%d') }}
                                        <span> Ongoing </span>
                                    </p>
                                {% elif event.status == "closed" %}
                                    <p class="event-date-closed">
                                        {{ event.start_time.strftime('%Y-%m-%d') }}
                                        <span> Closed </span>
                                    </p>
                                {% else %}
                                    <p class="event-date-cancelled">
                                        {{ event.start_time.strftime('%Y-%m-%d') }}
                                        <span> Cancelled </span>
                                    </p>
                                {% endif %}
                                <hr>
                                <p class="event-description">{{ event.description }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No {{ selected_status }} events</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
