{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
{% endblock %}

{% block content %}
<div class="team-page">
    <h1 class="team-title">Join Existing Team</h1>

    <form class="form-box" method="POST">
        <label>Team Code</label>
        <input type="text" name="team_code" placeholder="Enter team code" required>

        <button type="submit">Join Team</button>
    </form>

    <a class="back-link" href="{{ url_for('teams') }}">Back to Teams</a>
</div>
{% endblock %}