{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
{% endblock %}

{% block content %}
<div class="team-page">
    <div class="team-header">
    <h1 class="team-title">Team Dashboard</h1>
        <input type="text" name="searchteams" placeholder="Search teams..." hx-get="{{ url_for('teams') }}" hx-trigger="keyup changed delay:300ms" hx-target="#team-list" hx-swap="innerHTML" class="search-box"/>
    </div>
    <div class="team-grid" id="team-list">
        {% include "partials/team_list.html" %}
    </div>

    <div class="bottom-line"></div>

    <div class="team-actions">
        <a class="team-btn" href="{{ url_for('create_team') }}">Create New Team</a>
    </div>

</div>
{% endblock %}